<h1>Liste des Habitants</h1>
<a href="/habitants" class="btn btn-secondary">Ajouter un habitant</a>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>
<a href="/map" class="btn btn-secondary">Map</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Particiation</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% habitants.forEach(function(habitant){ %>
      <tr>
        <th scope="row"><%-habitant.id%></th>
        <td><%-habitant.name%></td>
        <td><%-habitant.address%></td>
        <td><%-habitant.given%></td>
        <td><form action="/deleteHabitant" method="post">
          <input style="display: none" type="number" name="i" value="<%-habitant.id%>">
          <button class="btn btn-primary" type="submit" name="button">Supprimer</button>
        </form></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
